fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
alembic
python-multipart
pymupdf4llm
python-dotenv
pytest
httpx
groq
pydantic[email]
requests
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
